{% extends "Ammunation/base.html" %}
{% load static %}
{% block contenido %}

<title>Administrar armas</title>

{% if perms.Ammunation.add_arma %}
    
    <div class="container mt-3" style="background-color: #343a40; padding: 20px; border-radius: 15px;">
        <p class="mb-0 display-5 text-white">Armas</p>

        <div class="d-flex justify-content-between align-items-center my-3">
            <input type="search" class="form-control w-50" id="adminBuscarArmas" placeholder="Buscar armas" name="q">
            <div class="btn-group">
                <a href="{% url 'vistaVender' %}" class="btn btn-dark">Crear producto</a>
                <a href="{% url 'vistaVentas' %}" class="btn btn-dark mx-3">Ver ventas</a>
                <a href="{% url 'administrador' %}" class="btn btn-dark">Administrar usuarios</a>
                <a href="{% url 'adminGuns' %}" class="btn btn-dark mx-1">Administrar armas</a>
            </div>
        </div>

        <div class="table-responsive my-3">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Género</th>
                        <th>calibre</th>
                        <th>Precio</th>
                        <th>Stock</th>
                        <th>Descripción</th>
                        <th>Imagen</th>
                        <th>Acción</th>
                    </tr>
                </thead>
                <tbody class="text-white">
                    {% for j in armas %}
                        <tr>
                            <td>{{ j.id }}</td>
                            <td>{{ j.nomb_arma }}</td>
                            <td>{{ j.categoria }}</td>
                            <td>{{ j.calibre }}</td>
                            <td>${{ j.precio }}</td>
                            <td>{{ j.stock }}</td>
                            <td>{{ j.descripcion }}</td>
                            <td><img src="{{ j.foto_arma.url }}" class="img-fluid rounded" alt="imagen-arma" style="width: 65px;"></td>
                            <td class="text-center">
                                <a href="{% url 'modificararma' j.id %}" class="btn btn-success btn-sm mx-1"><i></i> Editar</a>
                                <a href="{% url 'deleteGuns' j.id %}" class="btn btn-danger btn-sm mx-1"><i></i> Eliminar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

{% endblock contenido %}
